<article>
    <p [ngClass]="{'titre' : true}">Catégories</p>
    <ul>
        <li>
            <img src="" alt="" [src]="boitierIcon">
            Boîtier
        </li>
        <li>
            <img src="" alt="" [src]="carteMereIcon">
            Carte mère
        </li>
        <li>
            <img src="" alt="" [src]="CPUIcon">
            Processeur
        </li>
        <li>
            <img src="" alt="" [src]="RAMIcon">
            RAM
        </li>
        <li>
            <img src="" alt="" [src]="GPUIcon">
            Carte graphique
        </li>
    </ul>
</article>