<article>
    <p class="title">Categories</p>
    <ul>
        <li>
            <img src="" alt="" [src]="boitierIcon">
            Boîtier
        </li>
        <li>
            <img src="" alt="" [src]="carteMereIcon">
            Carte mère
        </li>
        <li>
            <img src="" alt="" [src]="CPUIcon">
            Processeur
        </li>
        <li>
            <img src="" alt="" [src]="RAMIcon">
            RAM
        </li>
        <li>
            <img src="" alt="" [src]="GPUIcon">
            Carte graphique
        </li>
    </ul>
</article>
<article>
    <p class="title">Filters</p>
    <ul>
        <li>
            <img src="" alt="" src="../../../../assets/ICON/color.png">
            Color
        </li>
        <li>
            <img src="" alt="" src="../../../../assets/ICON/price.png">
            Price
        </li>
    </ul>
</article>