<article>
    <p class="title">Categories</p>
    <ul>
        <li>
            <img src="" alt="" [src]="boitierIcon">
            Boîtier
        </li>
        <li>
            <img src="" alt="" [src]="carteMereIcon">
            Carte mère
        </li>
        <li>
            <img src="" alt="" [src]="CPUIcon">
            Processeur
        </li>
        <li>
            <img src="" alt="" [src]="RAMIcon">
            RAM
        </li>
        <li>
            <img src="" alt="" [src]="GPUIcon">
            Carte graphique
        </li>
    </ul>
</article>
<article>
    <p class="title">Filters</p>
    <ul>
        <li [ngClass]="{'toggled': optionToggled}">
            <div class="option" (click)="toggle()">
                <span>
                    <img alt="" src="../../../../assets/ICON/color.png">
                    Color
                </span>
                <span>
                    <img [ngClass]="{'toggled': optionToggled}" src="../../../../assets/ICON/arrow.png" alt="">
                </span>
            </div>
            <div class="colors">
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
            </div>
        </li>
        <li>
            <span>
                <img alt="" src="../../../../assets/ICON/price.png">
                Price
            </span>
            <span>
                <img src="../../../../assets/ICON/arrow.png" alt="">
            </span>
        </li>
    </ul>
</article>