article {
    width: 230px;
    height: max-content;
    background: #F6C93C;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #4F5963;
}

article p.titre {
    font-family: poppins;
    font-size: 25px;
    border-bottom-color: #6A1617;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 20px;
}

article ul {
    list-style-type: none;
}

article ul li {
    font-family: poppins;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.2s;
}

article ul li:hover {
    transform: translateX(15px);
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s;
}

article ul li img {
    width: 30px;
    margin-left: 5px;
    margin-right: 10px;
}