main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    position: relative;
}

main > span {
    top: 25px;
    position: absolute;
    font-size: 12px;
    padding: 8px 12px;
    color: white;
    border-radius: 3px;
}

main .error {
    background: rgb(255, 75, 75);
    animation: .4s shake ease-in-out;
    border: 2px solid red;
}

@keyframes shake {
    0%{
        transform: translateX(-5px)
    }
    20%{
        transform: translateX(5px)
    }
    40%{
        transform: translateX(-5px)
    }
    60%{
        transform: translateX(5px)
    }
    80%{
        transform: translateX(-5px)
    }
    100%{
        transform: translateX(5px)
    }
}

form {
    width: 100%;
    max-width: 300px;
}

h2 {
    color: rebeccapurple;
}

section {
    margin-top: 25px;
}

label {
    font-size: 13px;
    color: rgb(55, 55, 55);
}

input {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(102, 102, 102, 0.333);
    outline-color: rebeccapurple;
    margin-top: 5px;
    padding-left: 10px;
}

button {
    padding: 8px 12px;
    background-color: rebeccapurple;
    border: none;
    outline: none;
    font-size: 13px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

button:active {
    transform: scale(0.9);
    transition: 200ms;
}

a {
    color: rebeccapurple;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}

button span {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    main {
        padding: 0 15px;
    }
}