<main>
    <h1>Votre panier :</h1>
    <ul>
        <li>
            <ul>
                <li>
                    <div class="img-container">
                        <img src="http://localhost:3000/uploads/images/products/1755231996477-9941133.jpeg" alt="">
                    </div>
                </li>
                <li>
                    <h4>Radeon RX 460</h4>
                </li>
                <li>
                    <h4>Ar 800000</h4>
                </li>
            </ul>
        </li>
    </ul>
</main>