<div class="container" *ngIf="_toggled">
  <form action="">
    <fieldset>
      <legend>Adding product</legend>
      <div class="element">
        <label for="categorie">Categorie</label>
        <select name="categorie" id="categorie">
          <option value="boitier">Boititer</option>
          <option value="motherboard">Carte mère</option>
          <option value="cpu">Processeur</option>
          <option value="ram">RAM</option>
          <option value="gpu">Carte graphique</option>
        </select>
      </div>
      <div class="element">
        <label for="mark">Mark</label>
        <input type="text" name="mark" id="mark">
      </div>
      <div class="element">
        <label for="model">Model</label>
        <input type="text" name="model" id="model">
      </div>
      <div class="element">
        <label for="price">Price</label>
        <input type="number" name="price" id="price">
      </div>
      <div class="element">
        <label for="color">Color</label>
        <input type="color" value="238000ff" name="color" id="color">
      </div>
      <div class="element">
        <label for="stock">Stock</label>
        <input type="number" name="stock" id="stock">
      </div>
      <div class="element">
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
      </div>
      <div class="element">
        <button type="submit">add</button>
      </div>
    </fieldset>
  </form>
</div>
