ul {
    background:rgb(245, 245, 245);
    width: 100%;
    height: max-content;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
    margin-top: 20px;
}

ul div.carte {
    width: 170px;
    height: max-content;
    box-shadow: 0 0 5px #83838379;
    border-radius: 2px;
    padding: 2px 2px 12px 2px;
}

ul div.carte div.img {
    width: 100%;
    height: 200px;
}

ul div.carte div.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

ul div.carte div.action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

ul div.carte div.action img {
    width: 35px;
}

ul div.carte div.action img:hover {
    cursor: pointer;
}

ul div.carte div.action img:active {
    transform: scale(0.9);
}

ul div.carte div.action button {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rebeccapurple;
    font-family: Poppins;
    font-size: 12px;
    box-shadow: 0 0 3px #33333363;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul div.carte div.action button img {
    width: 15px;
    margin-left: 5px;
}

ul div.carte div.action button:active {
    transform: scale(0.98);
}

ul div.carte div.action button.disabled {
    background-color: #a4a4a4;
    transform: none;
}

div.informations {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

div.informations  div.input {
    width: max-content;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

div.informations div.input div.search_icon {
    width: 27px;
    height: 27px;
    background-color: rebeccapurple;
    position: absolute;
    left: 3px;
    top: 7px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.informations div.input div.search_icon img {
    width: 15px;
}

div.informations div.input input {
    width: 250px;
    height: 33px;
    outline: none;
    border: 1px rgb(170, 170, 170) solid;
    border-radius: 3px;
    padding-left: 35px;
    padding-right: 3px;
}

div.informations div.input input:focus {
    border: 2px rebeccapurple solid;
}

.mark_model {
    font-size: 13px;
    padding-left: 8px;
    color: rebeccapurple;
}

.categorie {
    font-size: 13px;
    padding-left: 8px;
    color: red;
    font-weight: 600;
    margin-top: 10px;
}

.price {
    font-size: 13px;
    padding-left: 8px;
    margin-bottom: 5px;
    color: rebeccapurple;
    font-weight: 600;
}