<div class="informations">
    <div class="input">
        <div class="search_icon">
            <img src="../../../../assets/ICON/search.png" alt="">
        </div>
        <input type="search" name="search=" id="" placeholder="Search ...">
    </div>
</div>
<div class="parent">
    <div class="carte" *ngFor="let product of products">
        <div class="img">
            <img src="" alt="" [src] = 'product.img_url'>
        </div>
        <div class="categorie">
            {{ product.categorie}}
        </div>
        <div class="mark_model">
            {{ product.mark}} {{ product.model}}
        </div>
        <div></div>
        <div class="price">
            Ar {{ product.price }}
        </div>
        <div class="action">
            <button type="button" [ngClass]="{ 'disabled' : !connected }" (click)="addToCart(product)">
                add to cart
                <img src="../../../../assets/ICON/add_to_cart.png" alt="">
            </button>
        </div>
    </div>
</div>