<div class="informations">
    <div class="input">
        <div class="search_icon">
            <img src="assets/images/search.png" alt="">
        </div>
        <input type="search" name="search=" id="" placeholder="Recherchez des produits">
    </div>
</div>
<ul>
    <li *ngFor="let product of products">
        <a routerLink="/product/details/12">
            <div class="img">
                <img src="" alt="" src="{{apiBaseUrl}}/{{product.image}}">
            </div>
        </a>
        <div class="category">
            {{ product.category}}
        </div>
        <div class="mark_model">
            {{ product.mark}} {{ product.model}}
        </div>
        <div></div>
        <div class="price">
            Ar {{ product.unite_price }}
        </div>
        <div class="action">
            <button type="button" [ngClass]="{ 'disabled' : !(connected | async) }" (click)="addToCart(product)">
                add to cart
                <img src="assets/images/cart.png" alt="">
            </button>
        </div>
    </li>
</ul>