nav {
    width: 100%;
    height: 60px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    color: white;
    margin-bottom: 50px;
}

nav span a {
    font-family: digital_7;
    font-size: 30px;
    letter-spacing: 3px;
    cursor: pointer;
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 60px;
    font-family: poppins;
    font-size: 17px;
    cursor: pointer;
}

nav ul li img {
    width: 40px;
    transition: 0.5s;
}

nav ul li img:active {
    transform: scale(0.8);
    transition: 0.5s;
}

nav ul li button {
    width: 130px;
    height: 30px;
    outline: none;
    cursor: pointer;
    background-color:  #6A1617;
    color: white;
    border: none;
    font-family: poppins;
    border-radius: 3px;
    transition: 0.5s;
}

nav ul li button:hover {
    box-shadow: 0 0 5px #4F5963;
    transition: 0.5s;
}

nav ul li button:active {
    transform: scale(0.95);
    transition: 0.5s;
}

nav ul li:nth-child(2) {
    position: relative;
}

nav ul li:nth-child(2) span {
    width: 20px;
    height: 20px;
    background-color: tomato;
    position: absolute;
    transform: translate(25px, -50px);
    font-family: poppins;
    font-size: 12px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 8px 12px;
    background-color: white;
    border: none;
    outline: none;
    font-size: 13px;
    border-radius: 3px;
    color: rebeccapurple;
    cursor: pointer;
    transition: 200ms;
}

button:active {
    transform: scale(0.9);
    transition: 200ms;
}

nav > section {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

section > section {
    position: relative;
}

.badge {
    top: -10px;
    left: 13px;
    position: absolute;
    font-size: 12px;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 26px;
}

@media only screen and (max-width: 700px) {
    nav {
        padding-left: 15px;
        padding-right: 15px;
    }
}