<main>
    <form>
        <h2>Connexion</h2>
        <section>
            <label for="email">Votre email :</label>
            <input type="email" required placeholder="user@example.com" id="email">
        </section>
        <section>
            <label for="password">Votre mot de passe :</label>
            <input type="password" required placeholder="saisissez votre mot de passe" id="password">
        </section>
        <section class="button-container">
            <button>Connexion</button>
            <a routerLink="">Pas de compte ?</a>
        </section>
    </form>
</main>