<main *ngIf="product">
    <section class="left">
        <div class="img-container">
            <img src="{{apiBaseUrl}}/{{product.image}}" alt="">
        </div>
    </section>
    <section class="right">
        <h1>{{product.mark}} {{product.model}}</h1>
        <section class="category">
            <h5>Categorie:</h5><p>{{product.category}}</p>
        </section>
        <section class="price">
            <h5>Prix:</h5><p>Ar {{product.unite_price}}</p>
        </section>
        <section class="color">
            <h5>Couleurs disponibles: </h5><p></p>
        </section>
    </section>
</main>