<div class="container">
    <app-addproduct [_toggled]="toggled"></app-addproduct>
    <h3>Products</h3>
    <div class="categories_container">
        <div class="left">
            <p>categories</p>
        </div>
        <div class="right">
            <button>add categorie</button>
        </div>
    </div>
    <div class="all_products_container">
        <div class="left">
            <p>all products</p>
        </div>
        <div class="right">
            <button (click)="addProduct()">add product</button>
        </div>
    </div>
</div>
