<main>
    <h2>Products</h2>
    <table>
        <thead>
            <tr>
                <th>Images</th>
                <th>Marques et modèles</th>
                <th>Catégories</th>
                <th>Prix (en Ar)</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="assets/images/gpu.jpg" />
                </td>
                <td>
                    <h5>Nvidia GTX</h5>
                </td>
                <td>
                    <h5>GPU</h5>
                </td>
                <td>
                    <h5>600 000</h5>
                </td>
                <td>
                    <h5>12</h5>
                </td>
                <td>
                    <h5>Actions</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="assets/images/gpu.jpg" />
                </td>
                <td>
                    <h5>Nvidia GTX</h5>
                </td>
                <td>
                    <h5>GPU</h5>
                </td>
                <td>
                    <h5>600 000</h5>
                </td>
                <td>
                    <h5>19</h5>
                </td>
                <td>
                    <h5>Actions</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="assets/images/gpu.jpg" />
                </td>
                <td>
                    <h5>Nvidia GTX</h5>
                </td>
                <td>
                    <h5>GPU</h5>
                </td>
                <td>
                    <h5>600 000</h5>
                </td>
                <td>
                    <h5>6</h5>
                </td>
                <td>
                    <h5>Actions</h5>
                </td>
            </tr>
        </tbody>
    </table>
</main>