@font-face {
    font-family: digital_7;
    src: url(assets/FONT/digital_7/digital-7.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(assets/FONT/Poppins-Regular.ttf);
}

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: max-content;
}

article ul {
    list-style-type: none;
}

.loading {
    width: 18px;
    animation: loader infinite linear 1.5s;
}

@keyframes loader {
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(360deg)
    }
}