<nav>
    <a routerLink="/">
        <img src="assets/images/logo-de-technow.png" alt="technow's logo" title="technow's logo" >
    </a>
    <ul>
        <li>
            <a href="" routerLink='/backoffice'>
                <img src="assets/images/products.png" alt="all product" title="all product">
            </a>
        </li>
        <li>
            <a href="" routerLink='/backoffice/settings'>
                <img src="assets/images/settings.png" alt="settings" title="settings">
            </a>
        </li>
    </ul>
</nav>