<nav>
    <img src="../../../assets/ICON/logo_technow.png" alt="technow's logo" title="technow's logo" >
    <ul>
        <li>
            <a href="" routerLink='/admindashboard'>
                <img src="../../../assets/ICON/products.png" alt="all product" title="all product">
            </a>
        </li>
        <li>
            <a href="" routerLink='/admindashboard/settings'>
                <img src="../../../assets/ICON/settings.png" alt="settings" title="settings">
            </a>
        </li>
    </ul>
</nav>