nav {
    width: 55px;
    height: 100%;
    min-height: 100vh;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

nav img{
    width: 30px;
    margin: 0 auto;
}

nav > a {
    display: flex;
    justify-content: center;
}

nav ul {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-top: 130px;
    line-height: 60px;
}

nav ul li {
    margin: 0 auto;
}

nav ul li a img {
    width: 25px;
}